*.exe
*.sdf
*.suo
*.o
*.lo
*.pyc
*.map
*.mdp
*.ncb
*.vcp
*.aps
*.res
*.sbr
*.bsc
*.ilk
*.ide
*.tlb
*.exp
*.obj
*.pdb
*.bak
*.opensdf
.git*.*
ipch/
wav/
Debug/
Release/
attic/
SNDB4/
/doxygen/
/test/bin/TestBank_storeTest.next
/builds/msvc2013/TestResults/
